* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Layout*/

.container {
  margin: auto;
  background-color: rgba(182, 179, 179, 0.39);
  height: 525px;
  width: 400px;
  display: grid;
  grid-template-columns: 96.5px 96.5px 96.5px 96.5px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  border-radius: 2%;
  box-shadow: 5px 0 5px rgb(226, 223, 223);
  gap: 5px;
}
.text-field {
  display: flex;
  grid-column: span 4;
  background-color: beige;
  align-items: center;
  justify-content: flex-end;
  font-size: 2.5rem;
  width: 100%;
  border: none;
}
.btn {
  background: linear-gradient(to left, rgb(184, 185, 185), rgb(255, 99, 99));
  /* background-color: rgb(184, 185, 185); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  border-radius: 50%;
  border: none;
  /* box-shadow: 5px 0 5px rgb(185, 182, 182); */
}
.btn:hover {
  background: linear-gradient(to right, rgb(184, 185, 185), rgb(184, 185, 185));
}
.btn:active {
  background: linear-gradient(to left, rgb(184, 185, 185), rgb(255, 99, 99));
}
